* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* background */
.container {
  position: relative;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg img {
  width: 100%;
  height: 100vh;
}

/* Button */
.button {
  position: absolute;
}

button {
  min-width: 200px;
  min-height: 50px;
  max-width: 500px;
  max-height: 500px;
  background-color: rgb(170, 245, 255);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

/* hide button */
.hidden {
  display: none;
}

/* dialog */
.dialog {
  position: absolute;
  bottom: 2%;
  max-width: 90%;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  font-size: 3rem;
  text-align: center;
}

/* media queries */
@media only screen and (max-width: 600px) {
  .button {
    bottom: -140%;
  }

  .bg img {
    height: auto;
  }

  .dialog {
    font-size: 1.8rem;
  }
}
